.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  color: var(--color-n10);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.text {
  color: var(--color-n10);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.text span[data-result="return"] {
  color: green;
}

.text span[data-result="attach"] {
  color: red;
}
