.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 80px 24px 24px;
  background: linear-gradient(
        90deg,
        var(--color-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--color-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--color-black);
}

.wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}

.buttonWrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 12px;
  background-color: var(--color-bg);
  z-index: 10;
}
.button {
  width: 100%;
  flex-shrink: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.resultPopup {
  min-width: 90vw;
}
@media (min-width: 1024px) {
  .resultPopup {
    min-width: 50vw;
  }
}

.createdBy {
  color: var(--color-n8);
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 2px;
}

.createdBy:focus-within {
  box-shadow: 0 0 0 3px var(--color-n5);
}

.createdBy::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-n5);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

@media (min-width: 1024px) {
  .createdBy:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
