.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 80px 24px 24px;
  background: linear-gradient(
        90deg,
        var(--color-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--color-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--color-black);
}

.wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}

.buttonWrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 12px;
  background-color: var(--color-bg);
  z-index: 10;
}
.button {
  width: 100%;
  flex-shrink: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}
.input {
  width: 100%;
  flex-grow: 1;
  flex-basis: 200px;
}

.resultPopup {
  min-width: 90vw;
}
@media (min-width: 1024px) {
  .resultPopup {
    min-width: 50vw;
  }
}
